/* 

font-family: 'Roboto', sans-serif;
font-family: 'Unkempt', cursive;

*/

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: rgb(25, 25, 25);
}

.container{
    width: 100%;
}

.container__item{
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.nav{
    display: fixed;
    background-color: rgb(25, 25, 25);
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.nav-bar__item{
    height: 100%;
}

.nav-bar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
}

.nav-bar__logo--look{
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.5rem;
    font-family: 'Unkempt', cursive;
    color: #deb887;

    transition-property: color;
    transition-timing-function: linear;
    transition-duration: 1.25s;
}

.nav-bar__logo--look:hover{
    color: #c10;
}

.nav-bar__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar__button{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    box-sizing: border-box;
}

.nav-bar__button--burger{
    width: 60px;
    font-size: 1.5rem;
    
    background-color: transparent;
    color: white;

    border: 0;
    padding: 0;
}

.nav-bar__button--burger:hover{
    background-color: rgb(40, 40, 40);
}

.nav-bar__button--link{
    display: none;
    height: 100%;
    box-sizing: border-box;
    min-width: 150px;
    padding: 0 0.5rem;

    font-size: 1.25rem;
    color: white;
    background-color: transparent;
    border: 0;

    transition-duration: 0.25s;
    transition-property: background-color;
    transition-timing-function: ease-in;
}

.nav-bar__button--link:hover{
    background-color: rgb(40, 40, 40);
}

.nav-bar__margin-left--small{
    margin-left: 0.25rem;
}

.background{
    width: 100%;
    height: 250px;
}

.background__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@media (min-width: 575px){
    .nav-bar__button--burger{
        display: none;
    }

    .nav-bar__button--link{
        display: block;
    }
}

@media (min-width: 768px){

}

@media (min-width: 1024px){

}