/* 

font-family: 'Roboto', sans-serif;
font-family: 'Unkempt', cursive;

*/

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: rgb(25, 25, 25);
    /* background: url(./img/Cheesecake-Slice-Transparent.png), rgba(0,0, 0,1);
    background-size: 200px 200px;
    background-repeat: repeat; */
    background-color: rgb(245, 210, 186);
}

.container{
    width: 100%;
}

.container__item{
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.margin-navbar-away{
    margin-top: 60px;
}

.nav{
    position: fixed;
    background-color: rgb(25, 25, 25);
    box-shadow: 0 0 5px black;
    z-index: 999;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.nav-bar__item{
    height: 100%;
}

.nav-bar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.nav-bar__logo--look{
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.5rem;
    font-family: 'Unkempt', cursive;
    color: #deb887;

    transition-property: color;
    transition-timing-function: linear;
    transition-duration: 1.25s;
}

.nav-bar__logo--look:hover{
    color: #c10;
}

.nav-bar__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar__button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    height: 100%;
    box-sizing: border-box;
}

.nav-bar__button--burger{
    width: 60px;
    font-size: 1.5rem;
    
    background-color: transparent;
    color: white;

    border: 0;
    padding: 0;
}

.nav-bar__button--burger:hover{
    background-color: rgb(40, 40, 40);
}

.nav-bar__button--link{
    display: none;
    height: 100%;
    box-sizing: border-box;
    min-width: 150px;
    padding: 0 0.5rem;

    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 0;

    transition-duration: 0.25s;
    transition-property: background-color;
    transition-timing-function: ease-in;
}

.nav-bar__button--link:hover{
    background-color: rgb(40, 40, 40);
}

.nav-bar__margin-left--small{
    margin-left: 0.25rem;
}

.background{
    width: 100%;
    height: 300px;
}

.background__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% center;
}

/* .article{

} */

.article__item{

}

.article--padding{
    padding: calc(0.01 * 100rem);
    box-sizing: border-box;
}

.article__margin-bottom--short{
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.article__margin-bottom--medium{
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.article__margin-bottom--long{
    margin-top: 0;
    margin-bottom: 1rem;
}

.article__margin-bottom--longer{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.introduction{
    background-color: rgb(255, 243, 209);
}

.introduction__item{
    background-color: transparent;    
}

.introduction__header{
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.5px;
}

.introduction__header--default{
    color: inherit;
    text-decoration: none;
}

.introduction__line{
    display: block;
    font-size: 0.8rem;
    text-align: center;
    color: rgb(75, 75, 75);
}

.introduction__image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.introduction__image{
    height: 100%;
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(0,0,0,30%);
}

@media (min-width: 575px){
    .nav-bar__button--burger{
        display: none;
    }

    .nav-bar__button--link{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article--padding{
        padding: calc(0.01 * 125rem);
    }

    .introduction__line{
        font-size: 0.9rem;
    }
}

@media (min-width: 768px){
    .article--padding{
        padding: calc(0.01 * 150rem);
    }
    
    .introduction__line{
        font-size: 1rem;
    }
}

@media (min-width: 1024px){
    .article__item{
        border-left: 1px solid rgba(0,0,0,25%);
        border-right: 1px solid rgba(0,0,0,25%);
    }
}